 /* Unoriginal CSS Block - START
 Taken from: http://www.cssscript.com/create-a-multi-level-drop-down-menu-with-pure-css/   
 */

nav ul li {
	  display: block;
	  position: relative;
	  float: left;
	  background: #D2691E;
	  width:24%;
 
}

/* This hides the dropdowns */



nav ul li a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  color: #fff;
  font-size: 22px;

}

nav ul li a:hover { 
  background: #2c3e50 !important; 
}

 